* {
  padding: 0;
  margin: 0;
}
.main-container {
  background-color: rgb(240, 240, 240);
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
input {
  border: none;
  border-bottom: 1px solid rgb(40, 40, 40);
  width: 400px;
  font-size: 20px;
  background: transparent;
  margin-bottom: 20px;
}
button {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(40, 40, 40);
  width: 200px;
  height: 30px;
  font-size: 18px;
  border-radius: 0.5rem;
  font-weight: 200;
}
.result-container {
  height: 40vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  padding-top: 40px;
  z-index: 1;
}
